In [1]:
!pip install dropbox

Collecting dropbox
  Downloading https://files.pythonhosted.org/packages/e6/3c/70aca57cc9dd088cbc4032729c340e0e8cf02c9bcc94ac35a8bf458b4bfd/dropbox-10.1.1-py3-none-any.whl (639kB)
Requirement already satisfied: six>=1.12.0 in c:\programdata\miniconda3\lib\site-packages (from dropbox) (1.12.0)
Requirement already satisfied: requests>=2.16.2 in c:\programdata\miniconda3\lib\site-packages (from dropbox) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\miniconda3\lib\site-packages (from requests>=2.16.2->dropbox) (2018.11.29)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\miniconda3\lib\site-packages (from requests>=2.16.2->dropbox) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\programdata\miniconda3\lib\site-packages (from requests>=2.16.2->dropbox) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\miniconda3\lib\site-packages (from requests>=2.16.2->dropbox) (3.0.4)
Installing collected packages: dropbox
Successfully installed dropbox-10.1.1

In [5]:
import json
import dropbox
import pandas as pd
import pickle

In [2]:
token = "S8KbZcyyXAkAAAAAAAI6tgbmPXTlYglQAJXsbeIFM2saa8tOEu2MhFbo0q2JOMBZ"

In [3]:
dbx = dropbox.Dropbox(token)

In [4]:
entries = []
lf_res = None
while True:
    if lf_res is None:
        lf_res = dbx.files_list_folder("/whoscored")
    else:
        lf_res = dbx.files_list_folder_continue(lf_res.cursor)
    entries += lf_res.entries
    if not lf_res.has_more:
        break

In [5]:
with open("entries", "wb") as fp:
    pickle.dump(entries, fp)

In [32]:
with open("entries", "rb") as fp:
    entries = pickle.load(fp)

In [33]:
def dic_from_entry(en):
    return json.loads(dbx.files_download(en.path_lower)[1].content)

In [34]:
len(entries)

42687

In [12]:
def save_dics(entries):
    bins_start = 0
    bins_end = 999
    for bin_num in range(8,10):      
        list_of_dics = [dic_from_entry(entries[i]) for i in range(bins_start,bins_end)]
        with open("list_of_dics_{}".format(bin_num), "wb") as fp:
            pickle.dump(list_of_dics, fp)
        print(bins_start, bins_end)
        bins_start+=1000
        bins_end+=1000
        list_of_dics = []
        print("{} laps are finished".format(bin_num+1))

In [13]:
save_dics(entries)

0 999
9 laps are finished

In [6]:
with open("all_dics_8", "rb") as fp:
    list_of_dics = pickle.load(fp)

In [7]:
#checks for empty dictionaries and deletes them
for i in range(2):
    a = len(list_of_dics)

    for idx, i in enumerate(list_of_dics):
        if len(i.keys()) != 28:
            del list_of_dics[idx]
        else:
            pass
    print("{} dicts were deleted".format(a - len(list_of_dics)))

28 dicts were deleted
2 dicts were deleted

In [8]:
home_team_id_dic = {}
away_team_id_dic = {}

for i in list_of_dics:
    home_team_id_dic[i["home"]["teamId"]] = i["home"]['name']
    away_team_id_dic[i["away"]["teamId"]] = i["away"]['name']

team_id_dic = home_team_id_dic

for v in away_team_id_dic:
    try:
        if away_team_id_dic[v] != home_team_id_dic[v]:
            raise ValueError('TeamID and TeamName differs in the away_team_id_dic and home_team_id_dic at index {}'\
                             .format(v))
    except:
        pass
    if v in home_team_id_dic.keys():
        pass
    else:
        team_id_dic[v] = away_team_id_dic[v]

In [9]:
player_id_dic = {}
for i in list_of_dics:
    for player_key in i["playerIdNameDictionary"].keys():
        if player_key not in player_id_dic:
            player_id_dic[player_key] = i["playerIdNameDictionary"][player_key]            
    for away_player_key in i["away"]["players"]:
        if away_player_key["playerId"] not in player_id_dic:
            player_id_dic[away_player_key["playerId"]] = away_player_key["name"]

In [10]:
def database_maker(list_of_dics):
    touches = []
    for idx, i in enumerate(list_of_dics):
        for e in i["events"]:
            if e["type"]["displayName"] == 'Pass':
                try:
                    touches.append(
                        {                     
                        "home_team": team_id_dic[e["teamId"]],
                        "Player": player_id_dic[str(e["playerId"])],
                        "Date": i["startDate"][:4],
                        "start_x": e["x"],
                        "start_y": e["y"],
                        "end_x": e["endX"],                
                        "end_y": e["endY"],
                        "Outcome": e["outcomeType"]["displayName"],
                        "Minute": e["minute"]   
                        }
                    )

                except:
                    pass
    return touches

In [11]:
touches = database_maker(list_of_dics)

In [12]:
touch_df = pd.DataFrame(touches)

In [13]:
touch_df = touch_df.assign(Distance = lambda x: ((x.end_x - x.start_x)**2 + (x.end_y - x.start_y)**2)**(1/2))

In [14]:
touch_df

,Date,Minute,Outcome,Player,end_x,end_y,home_team,start_x,start_y,Distance
0,2019,0,Successful,Corey Baird,36.9,56.7,Salt Lake,50.0,49.7,14.852946
1,2019,0,Unsuccessful,Kyle Beckerman,68.0,12.3,Salt Lake,38.9,59.9,55.790411
2,2019,0,Successful,Victor Giro,26.6,76.7,Vancouver,41.2,91.9,21.076053
3,2019,0,Successful,Doneil Henry,14.1,55.7,Vancouver,23.2,75.0,21.337760
4,2019,0,Successful,Maxime Crépeau,22.9,72.3,Vancouver,14.1,55.0,19.409534
5,2019,0,Successful,Doneil Henry,13.4,51.9,Vancouver,22.8,73.2,23.281967
6,2019,0,Successful,Maxime Crépeau,14.7,12.8,Vancouver,8.5,51.1,38.798582
7,2019,0,Unsuccessful,Erik Godoy,63.1,14.6,Vancouver,20.0,3.8,44.432533
8,2019,0,Successful,Nedum Onuoha,43.2,68.7,Salt Lake,38.0,77.6,10.307764
9,2019,0,Successful,Kyle Beckerman,32.3,95.0,Salt Lake,38.6,71.4,24.426420
10,2019,0,Successful,Aaron Herrera,23.1,35.9,Salt Lake,30.9,79.8,44.587554
11,2019,0,Successful,Marcelo Silva,32.2,7.1,Salt Lake,25.3,24.3,18.532404
12,2019,0,Successful,Brooks Lennon,33.2,31.3,Salt Lake,31.7,8.6,22.749505
13,2019,0,Successful,Everton Luiz,39.9,27.6,Salt Lake,36.1,32.2,5.966574
14,2019,0,Successful,Kyle Beckerman,85.6,25.2,Salt Lake,40.6,25.2,45.000000
15,2019,1,Unsuccessful,Maxime Crépeau,56.1,26.6,Vancouver,4.8,44.7,54.399449
16,2019,1,Unsuccessful,Damir Kreilach,53.3,67.6,Salt Lake,42.0,77.0,14.698639
17,2019,1,Successful,Doneil Henry,63.2,28.2,Vancouver,42.3,39.8,23.903347
18,2019,1,Successful,Nedum Onuoha,12.2,47.0,Salt Lake,34.3,60.8,26.054750
19,2019,1,Unsuccessful,Nick Rimando,57.3,45.0,Salt Lake,12.7,45.8,44.607174
20,2019,1,Unsuccessful,Doneil Henry,52.0,70.1,Vancouver,43.2,55.5,17.046994
21,2019,1,Successful,Jefferson Savarino,61.7,79.8,Salt Lake,59.7,40.0,39.850220
22,2019,2,Successful,Albert Rusnák,73.8,22.7,Salt Lake,73.1,77.6,54.904462
23,2019,2,Unsuccessful,Brooks Lennon,91.9,51.3,Salt Lake,73.8,22.7,33.846270
24,2019,2,Unsuccessful,Maxime Crépeau,36.5,73.5,Vancouver,14.0,50.7,32.032640
25,2019,2,Successful,Everton Luiz,70.0,10.6,Salt Lake,66.0,25.5,15.427573
26,2019,2,Successful,Jefferson Savarino,70.7,67.8,Salt Lake,71.5,9.7,58.105507
27,2019,2,Successful,Albert Rusnák,70.1,59.0,Salt Lake,71.2,66.6,7.679193
28,2019,2,Successful,Damir Kreilach,70.5,91.8,Salt Lake,68.2,65.2,26.699251
29,2019,2,Successful,Aaron Herrera,62.9,72.7,Salt Lake,69.9,86.5,15.473849
...,...,...,...,...,...,...,...,...,...,...
896579,2017,91,Successful,Iker Casillas,63.1,76.0,Porto,5.0,60.9,60.030159
896580,2017,91,Successful,Kamil Glik,34.1,12.0,Monaco,36.9,26.7,14.964291
896581,2017,91,Successful,Djibril Sidibe,53.8,7.1,Monaco,34.1,11.9,20.276341
896582,2017,91,Successful,Rony Lopes,52.9,4.7,Monaco,60.3,0.0,8.766413
896583,2017,91,Unsuccessful,Djibril Sidibe,54.0,8.0,Monaco,54.5,4.3,3.733631
896584,2017,91,Successful,Djibril Sidibe,73.5,11.7,Monaco,62.2,0.0,16.265915
896585,2017,92,Unsuccessful,Radamel Falcao,71.7,18.0,Monaco,72.8,15.8,2.459675
896586,2017,92,Unsuccessful,João Moutinho,86.2,33.9,Monaco,72.6,33.0,13.629747
896587,2017,92,Successful,Rony Lopes,87.3,18.3,Monaco,89.3,0.0,18.408965
896588,2017,92,Unsuccessful,João Moutinho,90.2,27.9,Monaco,87.5,18.3,9.972462
896589,2017,92,Unsuccessful,João Moutinho,96.3,38.6,Monaco,99.5,0.5,38.234147
896590,2017,92,Successful,Iker Casillas,29.6,21.6,Porto,14.4,52.7,34.615748
896591,2017,92,Successful,Ricardo Pereira,54.7,7.6,Porto,32.2,19.5,25.453094
896592,2017,92,Successful,Moussa Marega,62.9,6.8,Porto,56.5,7.7,6.462971
896593,2017,92,Successful,Héctor Herrera,59.2,13.4,Porto,63.2,7.6,7.045566
896594,2017,92,Successful,Diego Reyes,61.0,6.7,Porto,59.1,13.4,6.964194
896595,2017,92,Successful,Héctor Herrera,52.8,20.3,Porto,59.0,7.7,14.042792
896596,2017,93,Successful,Danilo Pereira,55.1,4.7,Porto,48.9,20.7,17.159254
896597,2017,93,Successful,Ricardo Pereira,66.7,4.4,Porto,55.7,4.3,11.000455
896598,2017,93,Successful,Corona,68.4,18.2,Porto,68.3,7.9,10.300485
896599,2017,93,Successful,Héctor Herrera,66.2,11.6,Porto,68.4,18.2,6.957011
896600,2017,93,Successful,Corona,39.5,33.1,Porto,57.5,18.9,22.926840
896601,2017,93,Successful,Felipe,42.4,60.9,Porto,39.5,33.1,27.950850
896602,2017,93,Successful,Iván Marcano,67.2,63.7,Porto,48.2,59.4,19.480503
896603,2017,93,Unsuccessful,Djibril Sidibe,37.2,30.1,Monaco,27.3,39.4,13.583078
896604,2017,93,Unsuccessful,Diego Reyes,72.5,93.2,Porto,69.9,96.2,3.969887
896605,2017,93,Unsuccessful,Alex Telles,76.5,86.6,Porto,69.1,100.0,15.307514
896606,2017,93,Successful,Iván Marcano,4.1,58.5,Porto,14.1,86.6,29.826331
896607,2017,93,Successful,Iker Casillas,35.9,88.0,Porto,4.1,60.5,42.041527
896608,2017,93,Unsuccessful,Alex Telles,48.3,55.8,Porto,35.9,88.0,34.505072

In [103]:
dash_df = pd.DataFrame(
    columns = ["Player", "Date"]
)

In [104]:
dash_df["Player"] = touch_df["Player"]

In [105]:
dash_df.merge(touch_df["Date"])

Empty DataFrame
Columns: [Player, Date]
Index: []

In [86]:
dash_df = touch_df.pivot_table(
    values = "Distance",
    index = ["Player", "Date"],
    aggfunc = "max"
).assign(
"Player" = touch_df["Player"]
)

SyntaxError: keyword can't be an expression (<ipython-input-86-5872a000e29e>, line 6)

In [81]:
dash_df[dash_df["Player"] == "A-Jay Leitch-Smith"]["Distance"].max()

SyntaxError: invalid syntax (<ipython-input-81-39e503f3ebc5>, line 1)

In [ ]:
dash_df = (
    touch_df.pivot_table(
        columns = ["Player"],
        #index=["Player", valami más],
        values="Date",
        #aggfunc="count",
    )
    .fillna(0)
    .assign(
        **{
            "Pass success rate": lambda touch_df: (touch_df.groupby(["Player","Date"])["Outcome"].count()/touch_df.groupby(["Player"])["Outcome"].count())
        }))

In [34]:
while True:
i = 0

dash_df["Indicator Name"] = 
 = touch_df.groupby(["Player","Date"])["Outcome"].count()/touch_df.groupby(["Player"])["Outcome"].count()

pandas.core.series.Series

játékos szinten évekre bontva:
- milyen sikerrátával passzolt - Pass success rate
- milyen hosszú volt a leghosszabb passza - longest pass distance
- milyen hosszú volt a legrövidebb passza - shortest pass distance
- milyen hosszú volt egy átlag passza - avarage pass distance
- melyik 10 percekben passzolt - pass intensive minutes

In [17]:
import pandas as pd
df = pd.read_csv('https://plotly.github.io/datasets/country_indicators.csv')

In [18]:
df

,Country Name,Indicator Name,Year,Value
0,Arab World,"Agriculture, value added (% of GDP)",1962,NaN
1,Arab World,CO2 emissions (metric tons per capita),1962,0.760996
2,Arab World,Domestic credit provided by financial sector (...,1962,18.168690
3,Arab World,Electric power consumption (kWh per capita),1962,NaN
4,Arab World,Energy use (kg of oil equivalent per capita),1962,NaN
5,Arab World,Exports of goods and services (% of GDP),1962,NaN
6,Arab World,"Fertility rate, total (births per woman)",1962,6.964454
7,Arab World,GDP growth (annual %),1962,NaN
8,Arab World,Imports of goods and services (% of GDP),1962,NaN
9,Arab World,"Industry, value added (% of GDP)",1962,NaN
10,Arab World,"Inflation, GDP deflator (annual %)",1962,NaN
11,Arab World,"Life expectancy at birth, total (years)",1962,48.008603
12,Arab World,Population density (people per sq. km of land ...,1962,7.168474
13,Arab World,"Services, etc., value added (% of GDP)",1962,NaN
14,Caribbean small states,"Agriculture, value added (% of GDP)",1962,NaN
15,Caribbean small states,CO2 emissions (metric tons per capita),1962,2.703875
16,Caribbean small states,Domestic credit provided by financial sector (...,1962,15.054971
17,Caribbean small states,Electric power consumption (kWh per capita),1962,NaN
18,Caribbean small states,Energy use (kg of oil equivalent per capita),1962,NaN
19,Caribbean small states,Exports of goods and services (% of GDP),1962,53.285881
20,Caribbean small states,"Fertility rate, total (births per woman)",1962,5.523020
21,Caribbean small states,GDP growth (annual %),1962,NaN
22,Caribbean small states,Imports of goods and services (% of GDP),1962,53.541042
23,Caribbean small states,"Industry, value added (% of GDP)",1962,NaN
24,Caribbean small states,"Inflation, GDP deflator (annual %)",1962,NaN
25,Caribbean small states,"Life expectancy at birth, total (years)",1962,63.271718
26,Caribbean small states,Population density (people per sq. km of land ...,1962,10.761272
27,Caribbean small states,"Services, etc., value added (% of GDP)",1962,NaN
28,Central Europe and the Baltics,"Agriculture, value added (% of GDP)",1962,NaN
29,Central Europe and the Baltics,CO2 emissions (metric tons per capita),1962,5.673987
...,...,...,...,...
36930,"Yemen, Rep.",Population density (people per sq. km of land ...,2007,41.102913
36931,"Yemen, Rep.","Services, etc., value added (% of GDP)",2007,32.218702
36932,Zambia,"Agriculture, value added (% of GDP)",2007,13.234505
36933,Zambia,CO2 emissions (metric tons per capita),2007,0.139614
36934,Zambia,Domestic credit provided by financial sector (...,2007,13.458356
36935,Zambia,Electric power consumption (kWh per capita),2007,651.873083
36936,Zambia,Energy use (kg of oil equivalent per capita),2007,588.018959
36937,Zambia,Exports of goods and services (% of GDP),2007,33.591193
36938,Zambia,"Fertility rate, total (births per woman)",2007,5.911000
36939,Zambia,GDP growth (annual %),2007,8.352436
36940,Zambia,Imports of goods and services (% of GDP),2007,32.180265
36941,Zambia,"Industry, value added (% of GDP)",2007,34.885422
36942,Zambia,"Inflation, GDP deflator (annual %)",2007,12.970211
36943,Zambia,"Life expectancy at birth, total (years)",2007,52.477146
36944,Zambia,Population density (people per sq. km of land ...,2007,17.135926
36945,Zambia,"Services, etc., value added (% of GDP)",2007,51.880073
36946,Zimbabwe,"Agriculture, value added (% of GDP)",2007,21.597907
36947,Zimbabwe,CO2 emissions (metric tons per capita),2007,0.743449
36948,Zimbabwe,Domestic credit provided by financial sector (...,2007,NaN
36949,Zimbabwe,Electric power consumption (kWh per capita),2007,700.642317
36950,Zimbabwe,Energy use (kg of oil equivalent per capita),2007,725.681049
36951,Zimbabwe,Exports of goods and services (% of GDP),2007,37.785373
36952,Zimbabwe,"Fertility rate, total (births per woman)",2007,4.022000
36953,Zimbabwe,GDP growth (annual %),2007,-3.653327
36954,Zimbabwe,Imports of goods and services (% of GDP),2007,46.387531
36955,Zimbabwe,"Industry, value added (% of GDP)",2007,33.074953
36956,Zimbabwe,"Inflation, GDP deflator (annual %)",2007,0.894887
36957,Zimbabwe,"Life expectancy at birth, total (years)",2007,44.177756
36958,Zimbabwe,Population density (people per sq. km of land ...,2007,34.374559
36959,Zimbabwe,"Services, etc., value added (% of GDP)",2007,45.327139